@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Sans&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.about-container{
    margin-top:5rem;
    display: flex;
    padding-top: 10px;
}

.about-container h1{
     font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.about-container p{
     font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
    width: 40%;
    margin-top: 2rem;
}
.about-textsec{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 50%;
}

.about-textsec ul{
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 1rem;
    list-style: none;
    margin-top: 2rem;
      font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-textsec ul li {
  position: relative;
  padding-left: 1.2em; 
  line-height: 1.5;
}
.about-textsec ul li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem; 
  color: #b2e33d; 
}


.email-input{
    background-color: white;
    width: 55%;
    border-radius: 40px;
    border: 4px solid #a6cd39;
    height: 4.4rem;
    display: flex;
   align-items: center;
   margin-top: 3rem;
   
   
}
.email-input input{
    border: none;
    color: black;
    font-size:.9rem;
    width: 50%;
    padding-left: .5rem;
  
}
.email-input input:focus{
    border: none;
    outline: none;
}
.email-input ::placeholder{
    color: grey;
    
}
.email-input button{
    margin-left: 2rem;
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 3rem;
    font-weight: 2.5rem;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-imgsec{
    width: 50%;
    position: relative;
}
.person1{
    height: 35rem;
    margin-left: 50px;
}
.person2{
    height: 150px;
    border-radius: 20px;
    position: absolute;
    left: -40px;
    box-shadow:5px 5px 1px  #a6cd39 ;
}
.person3{
    height: 150px;
    border-radius: 20px;
    position: absolute;
    box-shadow:5px 5px 1px  #a6cd39 ;
    top: 150px;
    right:9px;
}
.person4{
    height: 150px;
    border-radius: 20px;
    position: absolute;
    box-shadow:5px 5px 1px  #a6cd39 ;
    left: -150px;
    bottom: 50px;

}
